body {
    margin: 0;
    padding: 0;
}
header {
    background-color: aqua;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    height: 80px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: center;
}
#profile {
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#home {
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#profile:hover, #home:hover {
    background-color: pink;
}
nav {
    align-items: center;
    height: 100%;
    width: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
nav > a {
    flex-grow: 1;
    height: 100%;
    border: 1px solid black;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

nav > a:hover {
    background-color: pink;
}

#schedule_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subject_form {
    display: flex;
    flex-direction: column;
}

#classes {
    display: flex;
}

@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}